@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
}
*{
  margin: 0;
  padding: 0;
  font-family: nunito;
  box-sizing: border-box;


} 
body, html {
  text-align: center;  overflow: auto;
}

.task-item {

}
.green {
  background-color: green;
}
.red {
  background-color: red;
}

.reminder {
  border-left: 5px solid rgba(255, 145, 0, 0.741);
}
.icon {
  width: 20px;
  height: 20px
}